

@import url('https://fonts.googleapis.com/css2?family=Jaro:wght@400;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    }
  
.landing{
    font-family: 'Jaro', sans-serif;
    font-size: 40px;
    height: 15rem;
}

.landing h3{
    font-family: 'Jaro', sans-serif;
    font-size: 24px;
} 

.svg-bold-stroke path {
    stroke-width: 2; /* Adjust the value for a bolder stroke */
  }
.wood p{ 
    color: white;
    font-family: 'Jaro', sans-serif;
    font-size: 12px;
    margin-top:20px
}

.landing button{
    width: 10rem;
    height: 8rem;
    padding:8px;
}
.landing button p{
    font-size: 20px;
    margin-bottom: 15px;
}

.loadingLogo{
    width: 500px !important;
    width: 500px !important;
}

.octagon {
    clip-path: polygon(
      30% 0%, 
      70% 0%, 
      100% 30%, 
      100% 70%, 
      70% 100%, 
      30% 100%, 
      0% 70%, 
      0% 30%
    );
  }


  @keyframes slowHighBounce {
    0%, 100% {
      transform: translateY(-10px);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
  .slow-high-bounce {
    animation: slowHighBounce 2s infinite;
  }
  
  @media (max-width:640px){ /*Small Screens*/
    .landing h3{
      font-size: 20px;
      margin:6px 0 -20px 0;

    }
    .landing{
      font-family: 'Jaro', sans-serif;
      font-size: 40px;
      height: 12rem;
  }
  
  }
  @media (min-width: 768px) and (max-width: 1024px) { /* Medium screens (md) */
    .landing h3 {
        font-size: 28px;
        margin:-75px 0 5px 0;
    }
    .landing{
      font-family: 'Jaro', sans-serif;
      font-size: 40px;
      height: 14rem;
  }
  
}

@media (min-width: 1025px) and (max-width: 1280px) { /* Large screens (lg) */
    .landing h3 {
        font-size: 48px;
        margin:15px 0 10px 0;
    }
    .landing{
      font-family: 'Jaro', sans-serif;
      font-size: 40px;
      height: 15rem;
  }
  
}

@media (min-width: 1281px) { /* Extra large screens (xl and 2xl) */
    .landing h3 {
        font-size: 52px;
        margin:15px 0 10px 0;
    }
    .landing{
      font-family: 'Jaro', sans-serif;
      font-size: 40px;
      height: 15rem;
  }
  
    }



/* sm (Small screens - typically mobile) */
@media (max-width: 640px) {
  .landing button {
      width: 8rem;
      height: 8rem;
      padding: 8px;
      margin-bottom: 10px; 
  }

  .landing button p {
      font-size: 18px;
     
  }
}

/* md (Medium screens - typically tablets) */
@media (min-width: 641px) and (max-width: 768px) {
  .landing button {
      width: 10rem;
      height: 8rem;
      padding: 9px;
      margin: 20px 0 10px 0;
     }

  .landing button p {
      font-size: 18px; 
  }
}

/* lg (Large screens - typically small desktops) */
@media (min-width: 769px) and (max-width: 1024px) {
  .landing button {
      width: 9rem;
      height: 6rem;
      margin:5px 0 -5px 0;
      
  }

  .landing button p {
      font-size: 18px;
  }
}

/* xl (Extra large screens) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .landing button {
      width: 15rem;
      height: 12rem;
      padding: 14px;
      margin:-5px 20px 15px 0;
      
  }

  .landing button p {
      font-size: 28px;
  }
}

/* 2xl (Double extra large screens) */
@media (min-width: 1281px) {
  .landing button {
      width: 18rem;
      height: 12rem;
      padding: 12px;
      margin-bottom: 52px;
  }

  .landing button p {
      font-size: 32px;
  }
}

/*sm*/
@media (min-width: 640px) {
  .wood p {
    font-size: 12px;
    margin:20px 0 0 0;
    
  }
}

@media (min-width: 768px) {
  .wood p {
    font-size: 14px;
    margin:-16px 0 0 0;
  }
}

@media (min-width: 1024px) {
  .wood p {
    font-size: 18px;
    margin:52px 0 0 0;
  }
}

@media (min-width: 1280px) {
  .wood p {
    font-size: 20px;
    margin:5px 0 0 0;
  }
}

@media (min-width: 1360px) {
  .wood p {
    font-size: 24px;
    margin:60px 0 0 0;
  }
}


